Flask==1.0.2
Flask-RESTful==0.3.6
flask-cors==3.0.8
psycopg2>=2.7,<3.0
Jinja2==2.9.6
SQLAlchemy==1.1.13
Werkzeug==0.14.1
nltk
rake-nltk
scikit-learn[alldeps]
waitress
flask_jwt_extended
passlib
requests
