<section id="login-card" class="content-card rounded shadow" [@fadeInOut]>

    <div class="overlay-nav">
        <ul>
            <li><h3 style="margin: 0rem; padding: 0rem;">Login</h3></li>
        </ul>
    </div>

    <div id="login-card-content" class="overlay-content">
        <form [formGroup]="loginForm" class="full-width" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" placeholder="Username" formControlName="username"
                    class="form-control input-bar rounded" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                </div>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" formControlName="password"
                    class="form-control input-bar rounded"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                </div>
            </div>
            <div class="form-group" style="width: 100%">
                <div *ngIf="f.username.errors?.required && f.username.dirty">Username is required</div>
                <div *ngIf="f.password.errors?.required && f.password.dirty">Password is required</div>
                <button [disabled]="loading || f.username.errors?.required" class="btn-alt full-width rounded shadow">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Sign In
                </button>

                <p>Don't have an account? <a [routerLink]="['/register']">Sign up</a>.</p>
            </div>
        </form>
    </div>
</section>