<nav class="full-width navbar navbar-default navbar-fixed-top" style="min-width: 320px;">
    <div class="navbar-header">
        <a id="site-title" [ngClass]="{'disabled': isActive('/')}" class="nav-item" routerLink="/">
        <b><span class="site-title-text c2 alt-typeface">Men</span><span class="c4 site-title-text alt-typeface">view</span></b></a>
    </div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary rounded" *ngIf="!currentUser" href="#" [routerLink]="['/login']" style="margin-top: 0rem !important;">
          <i class="fas fa-user-circle fa-lg"></i>
          &nbsp;
          Sign In
        </button> 
        <button *ngIf="currentUser" class="btn btn-outline-primary rounded" id="dropdownBasic2" style="margin-top: 0rem !important;" ngbDropdownToggle>
          <i class="fas fa-user-circle fa-lg"></i>
          &nbsp;
          {{currentUser?.username}}
          &nbsp;
        </button>
        <div ngbDropdownMenu *ngIf="currentUser" aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
      </div>
  </nav>

<div class="pseudo-main">
  <div class="content-box rounded">
    <router-outlet></router-outlet>
  </div>
</div>