<nav>
  <ul>
    <li>
        <a id="site-title" [ngClass]="{'disabled': isActive('/')}" class="nav-item" routerLink="/">
          <b><span class="site-title-text c2 alt-typeface">Men</span><span class="c4 site-title-text alt-typeface">view</span></b></a>
    </li>
    <li>
        <a class="btn nav-btn rounded" *ngIf="currentUser" (click)="logout()" href="#">Logout</a>
    </li>
    <li>
        <a class="btn nav-btn rounded" *ngIf="!currentUser" href="/login">Sign In</a> 
    </li>
    <!-- add nav bar links here -->
    <!-- <li>
        <a class="nav-item nav-link" [ngClass]="{'nav-highlight': isActive('/')}" routerLink="/">Home</a>
    </li> -->
  </ul>
</nav>

<div class="pseudo-main">
  <div class="content-box rounded">
      <alert></alert> <!-- shows app-wide alerts -->
    <router-outlet></router-outlet>
  </div>
</div>