@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

/* HTML ELEMENTS */

html, body {
    margin: 0rem;
    padding: 0rem;
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    color: black;
    background: rgba(0, 173, 230, 1);
    background: linear-gradient(0deg, rgba(0, 90, 129, 1) 0%, rgba(25, 198, 255, 1) 100%);
}

a, a:visited {
    color: rgba(0, 90, 129, 1);
}

a:hover {
    opacity: 0.8;
}

.alt-typeface {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

footer {
    color: white;
    background: transparent;
    opacity: 1.0;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    padding: 1em;
    min-height: 3rem;
}

nav {
    position: fixed;
    top: 0rem;
    margin: 0rem;
    padding: 0rem;
    z-index: 1;
    background-color: rgba(245, 245, 245, 1);
    background: linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 1px 2px 1em 2px rgba(50, 50, 50, 0.5);
}

nav>ul {
    list-style-type: none;
    width: 100%;
    /* adjust navbar size with padding */
    padding: 0.5rem 1rem;
    margin: 0rem;
}

nav>ul>li {
    display: inline-block;
    margin-right: 1.5rem;
}

nav>ul>li>a {
    text-decoration: none;
    opacity: 1;
    font-size: 1.1rem;
}

nav a, nav span {
    text-decoration: none !important;
}

input:focus, textarea:focus, button:focus, .btn:focus {
    outline-width: 0;
    box-shadow: 0 0 0.5rem 0.1rem rgba(22, 255, 255, 1);
}

.btn-alt:focus {
    outline-width: 0;
    box-shadow: 0 0 0.25rem 0.1rem rgba(255, 149, 15, 1);
}

nav, footer {
    width: 100%;
}

/* COLOUR PALETTE */

.c1 {
    color: rgba(0, 90, 129, 1);
}

.c2 {
    color: rgba(0, 173, 230, 1);
}

.c3 {
    color: rgba(22, 255, 255, 1);
}

.c4 {
    color: rgba(255, 149, 0, 1);
}

.c5 {
    color: rgba(245, 245, 245, 1);
}

/* CLASSES & IDs BELOW */

#login-card, #register-card {
    max-width: 32rem;
    margin: auto;
    text-align: center;
}

#login-card-content, #register-card-content {
    max-width: 24rem;
    margin: 3rem auto auto auto;
}

.rounded {
    border-radius: 0.5em !important;
}

.shadow {
    box-shadow: 3px 3px 5px -2px rgba(50, 50, 50, 0.5);
}

#site-title {
    margin-right: 1rem;
    color: white;
    font-weight: bold;
}

#site-title.disabled {
    transition: 0ms;
}

.site-title-text {
    font-size: 2rem;
    text-decoration: none;
}

.pseudo-main {
    /* adjust top margin for content box offset from top (to account for navbar) */
    margin: 5.5rem 0rem 0rem 0rem;
    padding: 0rem 1rem 2rem 1rem;
    background: transparent;
}

.content-box {
    background: transparent;
    height: 100%;
    min-height: 100%;
    padding: 1rem;
}

.content-card {
    background-color: rgba(245, 245, 245, 1);
    padding: 1rem;
    background: linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.btn, .btn-alt {
    background-color: rgba(0, 173, 230, 1);
    background: linear-gradient(0deg, rgba(0, 173, 230, 1) 0%, rgba(25, 198, 255, 1) 100%);
    padding: 0.5rem 1rem;
    color: white;
    min-width: 6.5rem;
    text-align: center;
    border: none;
    margin-top: 1rem;
    box-shadow: 3px 3px 5px -2px rgba(50, 50, 50, 0.5);
}

.btn-alt {
    background-color: rgba(240, 134, 0, 1);
    background: linear-gradient(0deg, rgba(240, 134, 0, 1) 0%, rgba(255, 149, 0, 1) 100%);
}

.btn:hover, .btn-alt:hover {
    color: white;
    opacity: 0.8;
}

.btn:active, .btn-alt:active {
    box-shadow: inset 0px 0px 0.5rem rgba(200, 200, 200, 0.8);
    opacity: 1;
}

.nav-btn {
    color: white !important;
    font-weight: bold !important;
    position: fixed;
    right: 1rem;
    top: 0.5rem;
    margin: 0rem;
    padding: 1rem;
    min-width: 9rem;
}

.input-bar {
    padding: 1rem 0.5rem;
    width: 100%;
    box-shadow: none;
    border: 1px solid #CCCCCC;
}

.center {
    text-align: center;
}

.map-box {
    /* match height with .restaurant-ul's height */
    height: 30rem;
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
}

.agm-map-container-inner {
    width: 100% !important;
}

.soft-transition {
    transition: width 150ms;
    transition: opacity 250ms;
    /* transition-timing-function: ease-in-out; */
}

.width-hidden {
    width: 0%;
    max-width: 0%;
    opacity: 0;
}

.split-small {
    min-width: 40%;
    max-width: 40%;
    opacity: 1;
}

.split-large {
    width: 60%;
    max-width: 60%;
    opacity: 1;
}

.full-width {
    width: 100%;
}

.restaurant-ul {
    /* match height with .map-box's height */
    max-height: 30rem;
    width: 100%;
    padding: 0rem;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
}

.restaurant-li {
    margin-right: 0.5rem;
    z-index: 1;
}

.card {
    border: 1px solid rgba(200, 200, 200, 0.8);
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0rem 0rem 1rem 0rem;
    opacity: 1;
    text-align: left;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.clickable:hover {
    opacity: 0.8;
    cursor: pointer;
}

.clickable:active {
    box-shadow: inset 0px 0px 0.5rem rgba(200, 200, 200, 0.8);
    opacity: 1;
}

.restaurant-card:hover {
    opacity: 0.8;
}

.restaurant-name, .dish-name {
    font-weight: bold;
    color: black;
    margin-bottom: 0em;
}

.loading-spinner {
    padding: 0em;
    margin: 0em;
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
}

.overlay-nav {
    margin: -1rem;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    background-color: rgba(0, 90, 129, 1);
    background: linear-gradient(0deg, rgba(0, 90, 129, 1) 0%, rgba(25, 115, 154, 1) 100%);
}

.overlay-nav ul {
    width: 100%;
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
}

.overlay-nav * {
    color: white !important;
}

.overlay-nav li {
    display: inline-block;
}

.overlay-nav-element:after {
    content: ">";
    padding: 0em 0.5em;
}

.overlay-content {
    margin-top: 2rem;
}

/* TODO: refactor these CSS classes */

.restaurant-name, .dish-name {
    font-weight: bold;
    color: black;
    margin-bottom: 0em;
}

.restaurant-view {
    padding: 1em;
    margin: 1em;
    width: 100%;
    box-shadow: 0px 1px 1px 2px #CCCCCC;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.dish-image {
    width: 100%;
    object-fit: contain;
    /* preserves aspect ratio */
    margin: 0 auto 1em auto;
    box-shadow: 0px 1px 1px 3px #EEEEEE;
    border-radius: .3em;
}

.dish-button {
    padding: 0.5em;
    width: 100%;
    margin: 0 auto;
    border-radius: .3em;
    border: 1px solid #343a40;
    color: #FFFFFF;
    background-color: #343a40;
    box-shadow: 0px 1px 1px 3px #CCCCCC;
    opacity: 0.8;
}

.dish-button:hover, .dish-button:active {
    opacity: 1.0;
    box-shadow: none;
    box-shadow: 0px 2px 2px 2px #999999;
}

.divider {
    margin: 0em 0em 0.3em 0em;
    padding: 0em;
}

.right-text {
    float: right;
}

.cost-label {
    margin-left: 1em;
    color: #444444;
}

.review-header {
    margin: 0rem -1rem;
    padding: 0rem 1rem;
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
}

.review-rating {
    user-select: none;
    font-size: 1.3rem;
    line-height: 1rem;
}

.review-textbox {
    width: 100%;
    min-height: 7rem;
    height: 7rem;
    resize: vertical;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(200, 200, 200, 0.8);
}

.form-control {
    margin-bottom: 0.5rem;
}