/* You can add global styles to this file, and also import other style files */

@import './assets/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

html {
    font-size: 1em;
    line-height: 1em;
}

.jumbotron {
    background-color: white !important;
}

body {
    color: black;
    /* font-color */
}

.c1 {
    color: #005A81;
}

.c2 {
    color: #00ADE6;
}

.c3 {
    color: #16FFFF;
}

.c4 {
    color: #FF9500;
}

nav, .navbar, .navbar-expand {
    background-color: #FAFAFA;
    padding: 0em 0.5em;
    margin: 0em;
    top: 0em;
    width: 100%;
    z-index: 1;
    position: fixed;
    box-shadow: 0px 4px 2px -2px #DEDEDE;
}

.navbar-line-height {
    line-height: 1em;
}

.navbar-item {
    background-color: #00ADE6;
    border-radius: 2em;
    color: white !important;
    cursor: pointer;
    font-weight: bold;
    margin: 0em 0.5em;
    border-radius: 2em;
    min-width: 6em;
    padding: 0.5em 0.5em;
    position: fixed;
    right: 1em;
    transition: 200ms;
    text-align: center;
    transition: 100ms;
}

.navbar-item:hover, .navbar-item:active {
    background-color: #005A81;
}

.navbar-dark, .navbar-nav, .nav-item-list {
    background-color: #FAFAFA;
    height: 100%;
    line-height: 1em;
    width: 100%;
    padding: 0.5em;
}

.jumbotron, .container {
    padding: 1em 0em;
    margin-bottom: 0em;
}

footer {
    color: #CCC;
    opacity: 0.5;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    padding: 1em;
}

#site-title {
    margin-right: 1em;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

#site-title.disabled {
    transition: 0ms;
}
