<div id="loading-spinner" *ngIf="loading" [@fadeInOut] class="loading-spinner">
        <p style="position: fixed; top: 50%; width: 100%; text-align: center;">Loading...</p>
</div>

<div id="overlay" *ngIf="overlay" [@fadeInOut]>
    <div class="overlay-nav">
        <ul>
            <li class="overlay-nav-element"><a href="#" (click)="toggleOverview()">Back to Restaurants</a></li>
            <li><a>{{currentRestaurantName}}</a></li>
        </ul>
    </div>

    <h2>{{currentRestaurantName}}</h2>

    <div class="row">
        <div *ngIf="menuActive" class="col">
            <ul style="padding: 0em; list-style-type: none;">
                <li *ngFor="let menuItem of menuItems">
                    <dish [name]="menuItem.name" [description]="menuItem.description" [cost]="menuItem.cost"
                        [rating]="menuItem.rating" [isrc]="menuItem.isrc"></dish>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="overview" *ngIf="overview" [@fadeInOut]>

    <input class="search-bar rounded" type="text" placeholder="Search for restaurants" />

    <br><br>

    <p style="margin-bottom: 1em;"><i>AGM component commented out for now to reduce API calls</i></p>
    <!-- <agm-map class="map-box rounded" [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType' [zoom]="15">
        <span>Loading...</span>
        <agm-marker *ngFor="let r of restaurantList" [latitude]="r.lat" [longitude]="r.lon" [label]="r.name"
            [opacity]="r.alpha" (markerClick)="getMarker(r)">
        </agm-marker>
    </agm-map> -->

    <div *ngIf="selectedRestaurant" class="row rounded">
        <div class="restaurant-view rounded">
            <span class="restaurant-name">{{selectedRestaurant.name}}</span>
            <span class="right-text">Dishes: {{selectedRestaurant.dishcount}}</span>
            <hr class="divider">
            <p>Located at: <i>{{selectedRestaurant.lat}}, {{selectedRestaurant.lon}}</i></p>
        </div>
    </div>
    
    <button style="width: 100%; margin-bottom: 1em" (click)="getAllRestaurants()">Test all retrieval</button>
    <button style="width: 100%; margin-bottom: 1em" (click)="getRestaurant('mcdonalds')">Test single retrieval</button>

    <div>
        <p>Testing response:</p>
        {{response}}
    </div>

    <div class="row">
        <div class="col" [ngClass]="{'restaurant-card-shrunk': menuActive }">
            <ul style="padding: 0em; list-style-type: none;">
                <li *ngFor="let restaurant of restaurantList">
                    <restaurant class="unselected"
                        [name]="restaurant.name" [location]="restaurant.location" [dishcount]="restaurant.dishcount"
                        (click)="toggleOverview()" (messageEvent)="receiveMessage($event)">
                    </restaurant>
                </li>
            </ul>
        </div>
    </div>



</div>